/* ==========================================================================
    DARK_MODE.CSS
    Style spécifique du bouton pour changer de thème.
    ========================================================================== */

.theme-btn {
    background-color: transparent;
    color: var(--text-main);
    border: 2px solid var(--border-color);
    padding: 8px 12px;
    border-radius: 50%; /* Bouton rond */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.theme-btn:hover {
    transform: rotate(15deg); /* Petite rotation au survol */
    border-color: var(--accent-color);
    color: var(--accent-color);
    background-color: var(--input-bg);
}